{% extends 'base.html.twig' %}
{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/vendor/bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/album/css/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script data-main="{{ asset('bundles/album/js/main.js') }}" src="{{ asset('assets/vendor/requirejs/require.js') }}"></script>
    <script>
        define('config', function () {
            return {
                albumsUrl: '{{ path('albums_routes_get_albums') }}',
                imagesUrl: '{{ path('albums_images_get_album_images', {'album': ':id'}) }}',
                pageSize: 10
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Album</h1></div>
        </div>
        <div id="renderData"></div>
    </div>
{% endblock %}
